{% macro build(navigation) %}
    <nav class="{{ navigation.fixed ? 'fixed-top':'' }} navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">{{ navigation.brand ?? domain}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% import _self as me %}
                {% for nav in navigation %}
                    {% if nav and nav is iterable %}
                        {{ me.dropdown(nav) }}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ nav.href }}">{{ nav.text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if navigation.search %}
            <form class="form-inline my-2 my-lg-0" onsubmit="{{ navigation.search.onSubmit }}">
                <input class="form-control mr-sm-2" type="search" placeholder="{{ navigation.search.placeholder }}" aria-label="{{ navigation.search.placeholder }}">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">{{ navigation.search.submitText }}</button>
            </form>
            {% endif %}
        </div>
    </nav>
{% endmacro %}

{% macro dropdown(nav) %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ nav.href ?? '#' }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ nav.text }}
        </a>
        <div class="dropdown-menu" >
            {% for subnav in nav %}
                <a class="dropdown-item" href="{{ subnav.href }}">{{ subnav.text }}</a>
            {% endfor %}
        </div>
    </li>
{% endmacro %}