{% extends '_bs4.twig' %}
{% set navigation = response.meta.navigation %}
{% set seo = response.meta.seo %}

{% block head %}
    {{ parent() }}
    <link href="//{{ domain }}{{ css('/css/style.css') }}" rel="stylesheet">

    <!-- google analytics -->
    {% if response.meta.googleTrackingCode %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ response.meta.googleTrackingCode }}', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
    <!-- END google analytics -->
    <script>var token='{{ response.meta.antiCsrfToken }}';</script>
{% endblock %}

{% block header %}
    {{ parent() }}
    {% block header %}
        {% block navbar %}
        <nav class="navbar" role="banner">
                <div class="navbar-header">
                    <div class="container relposn">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="brand">
                            <a href="/">
                                <span>/</span>
                            </a>
                        </div>
                    </div><!--/.container-->
                </div>
                <div class="collapse navbar-collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav navbar-nav">
                                    <li class="">
                                        <a href="//{{ domain }}/"><i class="fa fa-home" aria-hidden="true"></i></a>
                                    </li>
                                    {% for nav in navigation %}
                                        {% if nav.dotClass == 'SWD.Structures.Navigation.Single' %}
                                            <li><a href="//{{ domain }}{{ nav.link }}">{{ nav.text }}</a></li>
                                        {% elseif nav.dotClass == 'SWD.Structures.Navigation.Collection' %}
                                            <li>
                                                <a href="{{ nav.link }}" data-toggle="dropdown" class="dropdown-toggle">{{ nav.text }}<i
                                                            class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="dropdown-menu">
                                                    {% for subnav in nav %}
                                                        <li><a href="{{ subnav.link }}">{{ subnav.text }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div><!--/.container-->
                </div>
        </nav><!--/nav-->
        {% endblock %}
    {% endblock %}
{% endblock %}
{% block general %}
    {% block container %}
        <div class="container">
            {% block h1 %}
                <h1>{{ seo.h1 }}</h1>
            {% endblock %}
            {% block content %}
                <div class="content">
                    {{ response.data }}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    {% block modal %}
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="js-modal2-dismiss btn btn-default" data-dismiss="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    Copyright &copy; {{"now"|date('Y') }} {{ domain }}, All Rights Reserved.
                                </div>
                                <div class="col-sm-6">
                                    Powered by <a href="https://shermanwebdesign.com">Sherman Web Design</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascript %}
    <script src="//{{ domain }}{{ js('/js/script.js') }}"></script>
    {% if response.meta.antiCsrfToken %}
        <script src="/api/public.js"></script>
        <script>var publicApi=new PublicApi('{{ response.meta.antiCsrfToken }}')</script>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script data-reference="cookie-message-trigger">
        $(document).ready(function(){
            var m = Cookies.get('message')||null;
            if(m){
                var modal = $('#modal');
                modal.modal();
                modal.find('.modal-body').text(atob(m));
                Cookies.remove('message');
            }
        })
    </script>
    <script data-reference="post-load-trigger">
        (function () {
            var a = document.getElementsByClassName('post-load');
            for (i = 0, c = a.length; i < c; i++) {a[i].setAttribute("href", a[i].getAttribute("data-href"));}
        })();
    </script>

{% endblock %}
