<div class="card" >
    {% if card.image %}
        <img data-type="App.Entities.File" data-id="{{ card.image.id }}" class="card-img-top" src="{{ card.image.url ?? card.image.src }}" alt="Card image cap">
    {% endif %}
    <div class="card-body" data-type="{{ card|dotClass }}" data-id="{{ card.id }}">
        {% if card.title %}
            <p class="card-title text-uppercase font-weight-bold" data-type="{{ card|dotClass }}" data-id="{{ card.id }}" data-field="title">{{ card.title }}</p>
        {% endif %}
        {% if card.description %}
            <div class="card-text" data-type="{{ card|dotClass }}" data-id="{{ card.id }}" data-field="description">{{ card.description | markdown | purify |raw }}</div>
        {% endif %}
        {% if ( card.href ?? card.action )  %}
            <a href="{{ card.href ?? '#' }}" class="btn btn-primary">{{ card.action}}</a>
        {% endif %}
    </div>

</div>