<div class="container" data-type="{{ response.data.dotClass }}" data-id="{{ response.data.id }}">
    <h1 data-type="{{ response.data|dotClass }}" data-id="{{ response.data.id }}" data-field="h1" >{{ response.data.h1 }}</h1>
    <div class="content" data-type="{{ response.data|dotClass }}" data-id="{{ response.data.id }}" data-field="content">
        {{ response.data.content|markdown|purify|raw}}
    </div>
</div>